body {
  margin: 0;
}

#cesiumContainer {
  background: gray;
  height: 100vh;
  width: 100%;
}


button {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  background-color: #555555;
  color: white;
  font-size: 20px;
}